<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobas</title>
</head>
<body>
    <h1>All Boba Places</h1>
    <div>
        <a href="/bobas/new">Add New Boba Places</a>
    </div>
    <ul>
        <% for (let boba of bobas) { %>
        <li><a href="bobas/<%= boba._id %>"><%= boba.title %></a></li>
        <% } %>
    </ul>
</body>
</html>